DATABASE_URL="mysql://user:password@localhost:3306/whatsnew"
PORT=19993
CORS_ORIGIN="http://localhost:19992"
APP_ENVIRONMENT=main
SCHEDULER_ENABLED=true
SCHEDULER_HOURLY_INTERVAL_HOURS=1
SCHEDULER_DAILY_TIME=09:15
HTTP_PROXY=""
HTTPS_PROXY=""
TVMAZE_BASE_URL="https://api.tvmaze.com"
TMDB_API_KEY=""
TMDB_BASE_URL="https://api.themoviedb.org/3"
TMDB_IMAGE_BASE_URL="https://image.tmdb.org/t/p/w500"
TRAKT_CLIENT_ID=""
TRAKT_CLIENT_SECRET=""
TRAKT_ACCESS_TOKEN=""
TRAKT_BASE_URL="https://api.trakt.tv"
OMDB_API_KEY=""
OMDB_BASE_URL="https://www.omdbapi.com"
THETVDB_API_KEY=""
THETVDB_PIN=""
THETVDB_BASE_URL="https://api4.thetvdb.com/v4"
IMDB_DATASET_CACHE_DIR=""
DOUBAN_COOKIE=""
DOUBAN_BASE_URL="https://movie.douban.com"
SOURCE_TVMAZE_ENABLED=true
SOURCE_TVMAZE_PROXY_MODE=inherit
SOURCE_TMDB_ENABLED=true
SOURCE_TMDB_PROXY_MODE=inherit
SOURCE_TRAKT_ENABLED=true
SOURCE_TRAKT_PROXY_MODE=inherit
SOURCE_THETVDB_ENABLED=false
SOURCE_THETVDB_PROXY_MODE=inherit
SOURCE_YOUKU_ENABLED=true
SOURCE_YOUKU_PROXY_MODE=direct
SOURCE_IQIYI_ENABLED=true
SOURCE_IQIYI_PROXY_MODE=direct
SOURCE_TENCENT_BASE_URL="https://pbaccess.video.qq.com/trpc.multi_vector_layout.mvl_controller.MVLPageHTTPService/getMVLPage?vversion_platform=2"
SOURCE_TENCENT_ENABLED=false
SOURCE_TENCENT_PROXY_MODE=direct
SOURCE_NETFLIX_BASE_URL="https://www.netflix.com/tudum/top10/data/all-weeks-global.xlsx"
SOURCE_NETFLIX_ENABLED=true
SOURCE_NETFLIX_PROXY_MODE=inherit
SOURCE_PRIME_VIDEO_BASE_URL="https://www.aboutamazon.com/news/entertainment"
SOURCE_PRIME_VIDEO_ENABLED=false
SOURCE_PRIME_VIDEO_PROXY_MODE=inherit
SOURCE_HULU_BASE_URL="https://press.hulu.com/schedule/"
SOURCE_HULU_ENABLED=false
SOURCE_HULU_PROXY_MODE=inherit
SOURCE_DISNEY_PLUS_BASE_URL="https://www.disneyplus.com/explore/articles/new-to-disney-plus"
SOURCE_DISNEY_PLUS_ENABLED=false
SOURCE_DISNEY_PLUS_PROXY_MODE=inherit
SOURCE_MAX_BASE_URL="https://press.wbd.com/us/media-release/hbo-max/whats-new-hbo-max-july"
SOURCE_MAX_ENABLED=false
SOURCE_MAX_PROXY_MODE=inherit
SYNC_ON_START=false
