DATABASE_URL="mysql://user:password@database-host:3306/whatsnew"
CORS_ORIGIN="http://localhost:19992"
APP_ENVIRONMENT=main
SCHEDULER_ENABLED=false
SCHEDULER_HOURLY_INTERVAL_HOURS=1
SCHEDULER_DAILY_TIME=09:15
SYNC_ON_START=false

HTTP_PROXY=""
HTTPS_PROXY=""
TMDB_API_KEY=""
TRAKT_CLIENT_ID=""
TRAKT_CLIENT_SECRET=""
TRAKT_ACCESS_TOKEN=""
OMDB_API_KEY=""
THETVDB_API_KEY=""
THETVDB_PIN=""
DOUBAN_COOKIE=""
IMDB_DATASET_CACHE_DIR="/app/backend/.cache/imdb"

SOURCE_TVMAZE_ENABLED=true
SOURCE_TMDB_ENABLED=true
SOURCE_TRAKT_ENABLED=true
SOURCE_THETVDB_ENABLED=false
SOURCE_NETFLIX_ENABLED=true
SOURCE_PRIME_VIDEO_ENABLED=false
SOURCE_HULU_ENABLED=false
SOURCE_DISNEY_PLUS_ENABLED=false
SOURCE_MAX_ENABLED=false
SOURCE_APPLE_TV_PLUS_ENABLED=true
SOURCE_YOUKU_ENABLED=false
SOURCE_IQIYI_ENABLED=false
SOURCE_TENCENT_ENABLED=false
SOURCE_BILIBILI_ENABLED=false
SOURCE_DOUBAN_ENABLED=false
